[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "pypi-test"

[packages]
simple_af = "==0.1.0"

[dev-packages]

[requires]
python_version = "2.7"

[pipenv]
allow_prereleases = true
